body {
  background: url(../img/hair-salon-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
}

h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.well {
  background-color: rgba(255, 255, 255, 0.75);
}
