<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Stylist Details</h2>
    <h3>$stylist.getName()</h3>
    <p><strong>Schedule</strong> $stylist.getWorkDays()</p>
    <p><strong>Phone Number:</strong> $stylist.getPhoneNumber()</p>
    <h4>Clients:</h4>
    <ul>
      #foreach($client in $clients)
        <li><a href="/stylists/$client.getStylistId()/clients/$client.getId()">$client.getName()</a></li>
      #end
    </ul>
  </div>
</div>
